Repository mgierlasinski/MagicGradients, pull requests merged in 2021-11, with the labels that each got.

#185 Enable animations in MagicGradients.Forms
  MagicGradients.Forms/Animation/Interactivity/AnimationBehavior.cs
  MagicGradients.Forms/Animation/Interactivity/AnimationTriggerExtension.cs
  MagicGradients.Forms/Animation/Timeline.cs
  MagicGradients.Forms/GradientView.cs
  MagicGradients.Forms/ViewExtensions.cs
  PlaygroundMaui/PlaygroundMaui/Pages/AnimationsPage.xaml
  PlaygroundMaui/PlaygroundMaui/Pages/AnimationsPage.xaml.cs
  PlaygroundMaui/PlaygroundMaui/Pages/CategoriesPage.xaml
  PlaygroundMaui/PlaygroundMaui/Pages/MainPage.xaml
  PlaygroundMaui/PlaygroundMaui/PlaygroundMaui.csproj
Labels: :desert_island: MAUI

#189 Fix UWP restore fail on AppCenter
  Playground/Playground.Android/appcenter-post-clone.sh
  Playground/Playground.iOS/appcenter-post-clone.sh
Labels: :mushroom: bug

#180 Splash screen for Playground
  .gitignore
  MagicGradients/Offset.cs
  Playground/Playground.Android/MainActivity.cs
  Playground/Playground.Android/Playground.Android.csproj
  Playground/Playground.Android/Resources/Resource.designer.cs
  Playground/Playground.Android/Resources/drawable-hdpi/mg.png
  Playground/Playground.Android/Resources/drawable-ldpi/mg.png
  Playground/Playground.Android/Resources/drawable-mdpi/mg.png
  Playground/Playground.Android/Resources/drawable-xhdpi/mg.png
  Playground/Playground.Android/Resources/drawable-xxhdpi/mg.png
  Playground/Playground.Android/Resources/drawable-xxxhdpi/mg.png
  Playground/Playground.Android/Resources/drawable/splash_screen.xml
  Playground/Playground.Android/Resources/values/styles.xml
  Playground/Playground.iOS/AppDelegate.cs
  Playground/Playground.iOS/Assets.xcassets/AppIcon.appiconset/Contents.json
  Playground/Playground.iOS/Assets.xcassets/Contents.json
  Playground/Playground.iOS/Assets.xcassets/LaunchImage.imageset/Contents.json
  Playground/Playground.iOS/Assets.xcassets/LaunchImage.imageset/mg_splash-1.png
  Playground/Playground.iOS/Assets.xcassets/LaunchImage.imageset/mg_splash-2.png
  Playground/Playground.iOS/Assets.xcassets/LaunchImage.imageset/mg_splash.png
  Playground/Playground.iOS/Playground.iOS.csproj
  Playground/Playground.iOS/Resources/Default-568h@2x.png
  Playground/Playground.iOS/Resources/Default-Portrait.png
  Playground/Playground.iOS/Resources/Default-Portrait@2x.png
  Playground/Playground.iOS/Resources/Default.png
  Playground/Playground.iOS/Resources/Default@2x.png
  Playground/Playground.iOS/Resources/LaunchScreen.storyboard
  Playground/Playground/App.xaml.cs
  Playground/Playground/Features/Home/HomePage.xaml
  Playground/Playground/Features/Home/HomePage.xaml.cs
  Playground/Playground/Playground.csproj
  PlaygroundMaui/PlaygroundMaui.Android/PlaygroundMaui.Android.csproj
  PlaygroundMaui/PlaygroundMaui.Android/Properties/AndroidManifest.xml
  PlaygroundMaui/PlaygroundMaui.Android/Resources/Resource.designer.cs
  PlaygroundMaui/PlaygroundMaui.iOS/PlaygroundMaui.iOS.csproj
  PlaygroundMaui/PlaygroundMaui.iOS/Resources/LaunchScreen.storyboard
Labels: :joystick: playground, hacktoberfest
